  <backgroundimg>
    <img src=<%= background %>>
  </backgroundimg>
<loginholder>
  <biglogo>tumblr.</biglogo>
    <%= subTemplate %>

</loginholder>
<footerlr class='white'>
  <div>
  <span>Terms</span>
  <span>Privacy</span>
</div>
<div class='right'>
  <span>Posted by dan-ah</span>
  <img src='/avatar.png'>
</div>
</footerlr>