<sublrtitle class='white helv'>
  Follow the blogs you"ve been hearing about.  Share the things that you love.
</sublrtitle>

<form>
  <roundform>
    <input type='email' placeholder='Email' name='user[email]'>
    <input type='password' placeholder='Password' name='user[password]'>
    <input type='username' placeholder='Username' name='user[username]'>
  </roundform>
  <button class='submit white signup' >Sign Up</button>
</form>

<a class='white helv changeMode' href='#'>Log in to your dashboard</a>