<form>
  <roundform>
    <input type='email' placeholder='Email' name='user[email]'>
    <input type='password' placeholder='Password' name='user[password]'>
  </roundform>
  <button class='submit white signin'>Log In</button>
</form>

<a class='white helv changeMode' href='#'>Sign up for a new account</a>