<publishbox class='group space-up'>
  <postbutton class=' bk-light-blue white round-small-left thick-side inner-marg'>
    <span class='line-26 bord-right thick-side'>Publish</span>
  </postbutton>

  <iconbutton class=' bk-light-blue white round-small-right thick-side inner-marg spec-parent'>
    <i class='lowZ fa fa-angle-down'></i>
    <publishoptions class='hide specbox bk-white black nobord'>
      <ul>
        <li data-action='publishNow'><i class='fa fa-check'></i>Publish Now</li>

        <li data-action='privatize'><i class='hidden fa fa-check'></i>Private</li>
      </ul>
      <button data-action='previewNow' class='bk-grey white wide-220 line-22 round-small nobord'>Preview on Blog</button>
    </publishoptions>
  </iconbutton>

  <cancelbutton class='bk-grey white round-small thick-side'>
    Cancel
  </cancelbutton>
</publishbox>