<textpostform class='hidden hide trans group'>
  <form>
    <input type='hidden' name='post[content_type]'>
    <input type='text' name='content[title]' placeholder='Title'>

    <textoptions class=''>
      <ul class='editoptions'>
        <li class='available' data-action='bold'><i class='fa fa-bold'></i></li>

        <li class='available' data-action='italic'><i class='fa fa-italic'></i></li>

        <li class='available' data-action='strikethrough'><i class='fa fa-strikethrough'></i></li>

        <li class='unavailable needstring new-link-form' data-action='linkForm'><i class='fa fa-link'></i></li>

        <li class='unavailable needstring' data-action='unlink'><i class='fa fa-unlink'></i></li>

        <li class='available' data-action='insertorderedlist'><i class='fa fa-list-ol'></i></li>

        <li class='available' data-action='insertunorderedlist'><i class='fa fa-list-ul'></i></li>

        <li class='available' data-action='photo'><i class='fa fa-camera'></i></li>

        <li class='available' data-action='html'><i class='fa fa-html5'></i></li>
      </ul>
    </textoptions>
    <texttextarea contenteditable="true" tabindex='1' name='content[text]'>
    </texttextarea>
    <specbox class='modal trans hide hidden'>
    <cornerangle></cornerangle>
      <roundform>
        <input type='text' class='url' placeholder='Link URL'>
        <input type='text' class='title' placeholder='Title (optional)'>
      </roundform>
      <button class='wide round bk-dark-grey white'>Insert Link</button>
    </specbox>

    <textarea id='htmlEdit' class='hide hidden'></textarea>
  </form>
</textpostform>
