<form action='<%= sessions_url %>' method='post'>
  <roundform>
    <input type='email' placeholder='Email' name='user[email]'>
    <input type='password' placeholder='Password' name='user[password]'>
  </roundform>
  <button class='submit white' type='submit'>Log In</button>
</form>

<a class='white helv' href='<%= new_user_url %>'>Sign up for a new account</a>