<div class='bk-white  round round-15 padd-30'>
  <h1>FAQ</h1>
  <h3>
    How can I reach Dan Baker?
  </h3>
  <p>
    You can reach Dan Baker by email at danielebaker@gmail.com
  </p>
  <h3>
    Where is the repo for this project?
  </h3>
  <p>
    The repo is located at https://github.com/breadbaker/tumblr
  </p>
  <h3>
    Did you create that text editor?
  </h3>
  <p>
    Yes, I floundered arround with some hard to use plugins before finding the command "document.execComand", and writing a small library. That library is currently located at https://gist.github.com/breadbaker/7999221
  </p>
</div>
