<nav class="group">
  <navLeft>
    <span>
      tumblr.
    </span>
  </navLeft>

  <navRight>
    <span>
      <i class='fa fa-home'></i>
    </span>
    <span>
      <i class='fa fa-envelope'></i>
    </span>
    <span>
      <i class='fa fa-question-circle'></i>
    </span>
    <span>
      <i class='fa fa-cog'></i>
    </span>
    <span id='logout'>
      <i class='fa fa-power-off'></i>
    </span>
    <searchBar>
      <input type='text' id='search' placeholder='Search Tumblr' >
    </searchBar>
  </navRight>
</nav>