<article  class='group'>
  <userlogo>
    <img src='<%= avatar  %>'>
  </userlogo>
  <quotebubble class='group'>
    <div class='grey space'><%= username %></div>
    <texttitle>
      <%= post.title %>
    </texttitle>
    <textext>
      <%= post.text %>
    </texttext>
  </quotebubble>
</article>