<a href='#blog/<%= user.get("username") %>'>
  <div class='bk-mid-blue  space thick round-med al-center padd '>
    <div class='group'>
      <img class='left wide-50 round-small' src='<%= user.get("avatar") %>'>
      <span class='white padd right bold font-14'><%= user.get("username") %></span>
    </div>
      <p class='font-12'>
        www.tumblr-clone/<%= user.get("username") %>
      </p>
  </div>
</a>