<nav class="group">
  <navLeft>
    <span>
      tumblr.
    </span>
  </navLeft>

  <navRight>
    <topitem data-action='dash'>
      <i class='fa fa-home'></i>
    </topitem>
    <topitem data-action='help'>
      <i class='fa fa-question-circle'></i>
    </topitem>
    <topitem data-action='settings'>
      <i class='fa fa-cog'></i>
    </topitem>
    <topitem data-action='logout'>
      <i class='fa fa-power-off'></i>
    </topitem>
    <searchBar>
      <input type='text' id='search' placeholder='Search Tumblr' >
    </searchBar>
  </navRight>
</nav>

<mainwrapper class="group">
  <maincontent>
    <article id='quick-dash' class='group'>
    </article>
    <posts>
    </posts>
  </maincontent>

  <sidebar>
    <mainitems>
      <ul>
        <li>
          <username>
            <%= Tumblr.user.get('username') %>
            <a href='#blog/<%= Tumblr.user.get("username") %>'>
              www.tumbler-clone<%= Tumblr.user.get('username') %>
            </a>
          </username>
        </li>
        <li>
          <i class='fa fa-file-text-o'></i>
          Posts
        </li>
        <li>
          <i class='fa fa-user'></i>
          Followers
        </li>
        <li>
          <i class='fa fa-flash'></i>
          Activity
        </li>
        <li>
          <i class='fa fa-wheelchair'></i>
          Members
        </li>
        <li>
          <i class='fa fa-eye'></i>
          Poop
        </li>

      </ul>
    </mainitems>
  </sidebar>

</mainwrapper>
