<nav class="group">
  <navLeft>
    <span>
      tumblr.
    </span>
  </navLeft>

  <navRight>
    <span>
      <i class='fa fa-home'></i>
    </span>
    <span>
      <i class='fa fa-envelope'></i>
    </span>
    <span>
      <i class='fa fa-question-circle'></i>
    </span>
    <span>
      <i class='fa fa-cog'></i>
    </span>
    <span>
      <i class='fa fa-power-off'></i>
    </span>
    <searchBar>
      <input type='text' id='search' placeholder='Search Tumblr' >
    </searchBar>
  </navRight>
</nav>

<mainwrapper class="group">
  <maincontent>
    <article id='quick-dash' class='group'>
      <userlogo>
        <img src='logo/irina.jpg'>
      </userlogo>
      <quotebubble class='group'>
        <cornerangle></cornerangle>
        <ul class='group'>
          <li>
            <quickitem>
              <i class="black fa fa-sort-alpha-asc"></i>
              <p>Text</p>
            </quickitem>
          </li>
          <li>
            <quickitem>
              <i class="red fa fa-camera"></i>
              <p>Photo</p>
            </quickitem>
          </li>
          <li>
            <quickitem>
              <i class="orange fa fa-quote-left"></i>
              <p>Quote</p>
            </quickitem>
          </li>
          <li>
            <quickitem>
              <i class="green fa fa-link"></i>
              <p>Link</p>
            </quickitem>
          </li>
          <li>
            <quickitem>
              <i class="blue fa fa-comment-o"></i>
              <p>Chat</p>
            </quickitem>
          </li>
          <li>
            <quickitem>
              <i class="purple fa fa-headphones"></i>
              <p>Audio</p>
            </quickitem>
          </li>
          <li>
            <quickitem>
              <i class="grey fa fa-video-camera"></i>
              <p>Video</p>
            </quickitem>
          </li>
        </ul>
      </quotebubble>
    </article>
  </maincontent>

  <sidebar>
    <mainitems>
      <ul>
        <li>
          <username>
            EL: Aspiring CODER
          </username>
        </li>
        <li>
          <i class='fa fa-file-text-o'></i>
          Posts
        </li>
        <li>
          <i class='fa fa-user'></i>
          Followers
        </li>
        <li>
          <i class='fa fa-flash'></i>
          Activity
        </li>
        <li>
          <i class='fa fa-wheelchair'></i>
          Members
        </li>
        <li>
          <i class='fa fa-eye'></i>
          Poop
        </li>

      </ul>
    </mainitems>
  </sidebar>

</mainwrapper>
