 <article id='quick-dash' class='group'>
  <userlogo>
    <img src='<%= Tumblr.user.get("avatar") %>'>
  </userlogo>
  <quotebubble class='group'>
    <quickdashbubble class='trans'>

      <ul class='group' >
        <li>
          <quickitem data-template='Text'>
            <i class="black fa fa-sort-alpha-asc font-42 "></i>
            <p>Text</p>
          </quickitem>
        </li>
        <li class='opaq'>
          <quickitem data-template='Photo'>
            <i class="red fa fa-camera font-42 "></i>
            <p>Photo</p>
          </quickitem>
        </li>
        <li class='opaq'>
          <quickitem>
            <i class="orange fa fa-quote-left font-42 "></i>
            <p>Quote</p>
          </quickitem>
        </li>
        <li class='opaq'>
          <quickitem>
            <i class="green fa fa-link font-42 "></i>
            <p>Link</p>
          </quickitem>
        </li>
        <li class='opaq'>
          <quickitem data-template='comment'>
            <i class="blue fa fa-comment-o font-42 "></i>
            <p>Chat</p>
          </quickitem>
        </li>
        <li class='opaq'>
          <quickitem>
            <i class="purple fa fa-headphones font-42 "></i>
            <p>Audio</p>
          </quickitem>
        </li>
        <li class='opaq'>
          <quickitem>
            <i class="grey fa fa-video-camera font-42 "></i>
            <p>Video</p>
          </quickitem>
        </li>
      </ul>
    </quickdashbubble>
    <posttemplate class='hide'>
    </posttemplate>
  </quotebubble>
</article>
<posts>
</posts>