.editoptions {
  text-align: center;
  padding: 10px !important;
  margin: 0px !important;
  border-left:1px solid rgb(227,227,227);

  border-right:1px solid rgb(227,227,227);
  border-top: 1px solid black;
  border-bottom: 1px dashed rgb(227,227,227);
  background-color: rgb(250,250,250);
}
.editoptions li {
  display: inline;
  float:none !important;

  padding-left: 9px !important;

  padding-right: 9px !important;
}
.editoptions li i {
  font-size: 16px !important;
}

.modal {
  z-index: 11;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  opacity:0;
}

.modal_active {
  opacity: 1 !important;
  background-color: white;
}

.hidden{ opacity:0; z-index:-1 !important;}
.hide{display:none !important;}
.trans  {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

li.unavailable, li.tempunavailable {
  color: rgb(227,227,227) !important;
}
li.available {
  color: rgb(172,172,172);
}

li.activated {
  color: rgb(86,156,198);
}

button.submit {
  width: 248px;
  padding:4px;
  border-radius: 8px;
  margin:auto;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 13px;
  line-height: 32px;
  font-size: 14px;
  border:none;
  background-color: rgb( 82,158,204);
}


img.photourl {
  width:100%;
  height: auto;
}
.spec-parent, .parent {
  position:relative;
}
.specbox {
  display: block;
  position: absolute;
  top: 15px;
  left: -40%;
  width: 220px;
  border-radius: 10px;
  margin: 0;
  margin-left: 0 !important;
  margin-top: 0 !important;
  border: 1px solid grey;
  padding: 8px;
}

.dim-text span{
  opacity: .8;
}

.messenger {
  display: block;
  position:absolute;
  width: 20%;
  z-index:20;

  margin-left: 40%;
  top: 120px;
}

.mid-button{
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);


}

.all-users img {
  width: 50px;
}

.photoImg img {
  width: 80%;
  margin:auto;
  padding: 30px;
}

ul.tags {
  width: 70%;
  margin-left:10%;
  float:left;
  background-color: rgb(195, 184, 184);
  border-radius: 6px;
}

ul.tags li {
  float:left;
}
ul.tags li:nth-of-type(1){
  font-weight:bold;
  float:none;
  font-size:14px;
}

section.meta {
  display:none;
}
iframe {
  display: none;
}