
#quick-dash quickdashbubble ul li{
  border-left:1px solid grey;
}
#quick-dash quickdashbubble ul li:nth-of-type(1){
  border-left:none;
}
#quick-dash quickdashbubble ul {
  margin-top: 0px;
}
#quick-dash quotebubble {
  z-index: 6;
  min-height: 60px;
}

#htmlEdit {
  width: 100%;
  line-height: 22px;
  border: none;
  min-height: 200px;
}
#murray {
width: 248px;
padding: 4px;
border-radius: 8px;
margin: auto;
margin-top: 16px;
margin-bottom: 16px;
margin-left: 13px;
line-height: 32px;
font-size: 14px;
border: none;
background-color: rgb( 82,158,204);
}