.line-22 {
  line-height:22px;
}

.line-34 {
  line-height: 34px;
}

.line-42 {
  line-height: 42px;
}

.width-100 {
  width: 100%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-30 {
  width: 30%;
}

.wide-220 {
  width: 220px;
}

.wide-50 {
  width: 50px;
}

.h-auto {
  height:auto;
}