overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);

}

backgroundimg {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
backgroundimg img {
  width: 100%;
  height: 100%;
}

loginholder {
  display: block;
  z-index:2;
  position: relative;
  width: 400px;
  top: 300px;
  text-align:center;

  min-height: 300px;
  margin: auto;
}

loginholder a {

}

navLeft {
  display: block;
  float: left;
  font-size: 90px;
  color: white;
}

navRight {
  display: block;
  float: right;
}

navRight topitem {

  padding: 15px;
  font-size: 26px;
  color: white;
  opacity: 0.5;
}
navRight topitem:hover {
  opacity: 1;
}
quickitem p{
  margin-top: 3px;

  font-size: 15px;
}
quickitem {
  text-align:center;
  float: left;
  padding-left: 11px;

  padding-right: 10px;
  height: 50px;
}
userlogo {
  display:block;
  float: left;
  padding: 10px;
}
quotebubble {
  background-color: white;
  display: block;
  float:left;
  padding:10px;
  width: 440px;
  min-height: 100px;
  margin-left: 10px;
  border-radius: 8px;
  position:relative;
}
quotebubble:after{
  content: '';
  display: block;
  position: absolute;
  border: 8px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  border-left: 0px solid white;
  left: -8px;
  top: 22px;
}

quotebubble img {
  max-width: 80%;
  height: auto;
  margin-left:10%;
}



userlogo img {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

biglogo {
  font-size: 90px;
  color: white;
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}


sublrtitle {
  display: block;
  font-size: 18px !important;
  font-weight: none;
  margin-bottom:16px;
}

roundform {
  display:block;
  width: 240px;
  margin:auto;
}
roundform input {
  height: 32px;
  margin:0px;
  padding:4px;
  font-size:14px;
  display:block;
  width:100%;
  border: 1px solid grey;
}

roundform input:nth-of-type(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

roundform input:nth-of-type(2) {
  border-top:none;
}

roundform input:nth-last-of-type(2) {
  border-bottom:none;
}

roundform input:nth-last-of-type(1) {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
footerlr {
  z-index: 2;
  display: block;
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
}
footerlr div:nth-of-type(2) {

  margin-top: -30px;
  margin-right: 20px;

}
footerlr div:nth-of-type(1) {
  margin-left: 20px;

}
footerlr div:nth-of-type(1) span:nth-of-type(1){
  border-right: 1px -solid white;

}
footerlr div:nth-of-type(2) span{
  vertical-align:middle;
}

textpostform input{
  position:relative;
  display: block;
  width: 99%;
  line-height: 22px;
  border-bottom:none;
}
texttextarea{
  display: block;
  width: 90%;
  line-height: 22px;
  border:none;
  min-height: 200px;
}

texttextarea img{
  width: 60%;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 20%;

}

textoptions {
  text-align: center;
}

specbox {
  display: block;
  position: absolute;
  top: 75px;
  left: 40px;
  width: 220px;
  border-radius: 10px;
  margin: 0;
  margin-left: 0 !important;
  margin-top: 0 !important;
  border: 1px solid grey;
  padding: 8px;
}
specbox cornerangle {
  top: -8px;
  left: 120px;
  border: 16px solid white;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

specbox roundform {
  width: 245px;
  margin: 0;
  margin-bottom: 8px;
}
specbox button {
  width: 100%;
  border-radius: 6px;
  margin:auto;
  line-height: 32px;
  font-size: 14px;
  border:none;
  background-color: rgb( 157, 166, 175 );
}

imageprogressbar {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 90%;
  border-radius: 5px;
  font-size: 24px;
  margin: 0;
  margin-left: 5%;
  margin-top: 0 !important;
  border: 1px solid grey;
  overflow: hidden;
}
imageprogressbar p {
  padding-left: 20px;
  margin:0;
  color: rgb(212,232,243);
}

progressmeter {
  position: absolute;
  display: block;
  height: 100%;
  background-color: rgb(212,232,243);
  width: 100%;
  top: 0;
}
progressmeter p {
  color: white;
}

posttemplate {
  display:block;
}

posttemplate form {
  border: 1px solid grey;
}

publishbox, postbutton, cancelbutton{
  display:block;
}
 iconbutton {
  display: inline;
}

postbutton {
  float:left;
}
cancelbutton {
  float:right;
}

quickdashbubble, texttitle, texttext, textpostform, textoptions {
  display: block;

}

texttitle{
  font-size:18px;
  font-weight: bold;
}

mainitems ul li:hover {
  color: rgba(255,255,255,1);
}

mainitems ul li i {
  padding-right: 8px;
}

maincontent {
  padding:10px;
}

maincontent article {
  width: 100%;
}
searchBar input {
  background-color: rgb(44, 71, 98);
  margin-left: 40px;
  width: 160px;
  margin-top: 5px;
  color: white;
  border: none;
  font-size: 14px;
}

mainwrapper {
  display: block;
  width: 800px;
  margin: auto;
  background-color: rgb(44, 71, 98);
  border-radius: 15px;
}

maincontent {
  display: block;
  float: left;
  width: 540px;
}

sidebar {
  display: block;
  float: right;
  color: white;
  width: 200px;
  margin: 20px;
}

mainitems {
  display: block;
}

mainitems ul li {
  line-height: 25px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  font-size: 18px;
  padding: 5px;
  color: rgba(255,255,255,0.65);

}

searchBar {
  border: 1px solid rgba(0,0,0,.2);
  width: 210px;
  background-image: url('/mag.png');
  background-size: 20px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
  background-color: rgb(44, 71, 98);
  border-radius: 15px;
  padding: 7px;

/*  is there a better way?*/
  opacity: 0.5;
}


topitem {
  display:inline;
}

username input {
  background-color: rgb(44, 71, 98);

  width: 160px;
  font-family: sans-serif;
  color: white;
  border: none;
  font-size: 32px;
}

